<div class="home-div">

    <mat-card class="home-card center">
        <mat-card-header>
            <h3> Módulo Salud</h3>
        </mat-card-header>
        <mat-card-content class="center">
            <button mat-raised-button color="primary" (click)="navigateListarCita()">Listar cita</button><br> <br>
            <button mat-raised-button color="primary" (click)="navigateCrearCita()">Crear cita</button><br> <br>
            <button mat-raised-button color="primary" (click)="navigateHorarios()">Horarios</button><br> <br>
            <button mat-raised-button color="primary" (click)="navigateListarPaciente()">Listar paciente</button><br> <br>
        </mat-card-content>
    </mat-card>
</div>
