.titulo {
    text-align: center;
}

.textArea-big {
    height: 50px;
}

.textArea-mid {
    height: 25px;
}

.textArea-sm {
    height: 10px;
}

.border-right {
    border-right: 1px solid #d0cccc
    ;
}