<div class="card text-center">
  <span class="h3">Historia Clínica</span>
  <div>
    <button class="m-auto" mat-button routerLink="../">
      <mat-icon>keyboard_backspace</mat-icon> Volver
    </button>
  </div>
</div>
<mat-card>
  <h6 class="titulo">Datos Básicos</h6>
  <hr>
  <div class="row">
    <div class="col-sm md-3">
      <strong>Nombre: </strong> Benito Suárez
    </div>
    <div class="col md-3">
      <strong>Código: </strong>20191019019
    </div>
    <div class="col md-3">
      <strong>Documento: </strong>20191019019
    </div>
    <div class="col md-3">
      <strong>EPS: </strong>Famisanar
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col md-6">
      <strong>Fecha de nacimiento: </strong> {{'12/16/20' | date :'dd-MMMM-yyyy': '': 'es-CO'}}

    </div>
    <div class="col md-6">
      <strong>Lugar de Nacimiento: </strong>Bogotá
    </div>
    <div class="col md-4">
      <strong>Edad: </strong>19
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col md-4">
      <strong>Vinculación: </strong>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="estudiante" id="estudiante" value="Estudiante">
        <label class="form-check-label">Estudiante</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="funcionario" id="funcionario" value="Funcionario">
        <label class="form-check-label">Funcionario</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="docente" id="docente" value="Docente">
        <label class="form-check-label">Docente</label>
      </div>
    </div>
    <div class="col md-4">
      <strong>Tipo: </strong>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="especial" id="escpecial" value="Especial">
        <label class="form-check-label">Especial</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="otro" id="otro" value="Otro">
        <label class="form-check-label">Otro</label>
      </div>
    </div>
    <div class="col md-4">
      <strong>¿Cuál? </strong>
      <br>
      xxxxxxxx
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col md-6">
      <strong>Facultad: </strong> Ingeniería

    </div>
    <div class="col md-6">
      <strong>Proyecto curricular: </strong>Ingeniería de sistemas
    </div>
    <div class="col md-4">
      <strong>Dependencia: </strong>
    </div>
    <div class="col md-4">
      <strong>Procedente de: </strong>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col md-6">
      <strong>Dirección: </strong> Calle falsa 123
    </div>
    <div class="col md-6">
      <strong>Teléfono: </strong> 2021202
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="flex-column col float-right md-6">
      <strong>Contacto de emergencia: </strong> Benita Suárez
    </div>
    <div class="col md-6">
      <strong>Parentesco: </strong> Madre
    </div>
  </div>
  <div class="row mt-3 mb-4">
    <div class="col md-6">
      <strong>Dirección: </strong> Calle falsa 123
    </div>
    <div class="col md-6">
      <strong>Teléfono: </strong> 2021202
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col md-6">
      <strong>Situación Académica: </strong>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="pruebaAcademica" id="pruebaAcademica"
          value="Prueba Académica">
        <label class="form-check-label">Prueba Académica</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="activo" id="activo" value="Activo">
        <label class="form-check-label">Activo</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="otro" id="otro" value="Otro">
        <label class="form-check-label">Otro</label>
      </div>
    </div>
    <div class="col md-6">
      <strong>¿Cuál?</strong>
      <br>
      xxxxxxxx
    </div>
  </div>
</mat-card>
<div class="card mt-2">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Medicina</strong>
        </mat-panel-title>
        <mat-panel-description>
          Aspectos básicos de medicina
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h6 class="titulo">Medicina General</h6>
      <hr>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Motivo de la consulta" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Motivo de la consulta</label>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="card mt-2">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Fisioterapia</strong>
        </mat-panel-title>
        <mat-panel-description>
          Aspectos básicos fisioterapia
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat libero earum ullam illum officiis, illo
        minima nisi quidem doloribus voluptatibus ad dolorem possimus et sit praesentium eum consequuntur similique
        architecto.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="card mt-2">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Odontología</strong>
        </mat-panel-title>
        <mat-panel-description>
          Aspectos básicos odontología
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat libero earum ullam illum officiis, illo
        minima nisi quidem doloribus voluptatibus ad dolorem possimus et sit praesentium eum consequuntur similique
        architecto.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="card mt-2">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Psicología</strong>
        </mat-panel-title>
        <mat-panel-description>
          Aspectos básicos psicología
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat libero earum ullam illum officiis, illo
        minima nisi quidem doloribus voluptatibus ad dolorem possimus et sit praesentium eum consequuntur similique
        architecto.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>