<div class="card text-center">
  <span class="h3">Historia Clínica</span>
  <div>
    <button class="m-auto" mat-button routerLink="../">
      <mat-icon>keyboard_backspace</mat-icon> Volver
    </button>
  </div>
</div>
<div class="card text-center">
  <h6>Datos Básicos</h6>
</div>
<div class="card">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Medicina
        </mat-panel-title>
        <mat-panel-description>
          Aspectos básicos de medicina
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates suscipit consequatur, nisi non deleniti
        possimus quo, sit ullam placeat magnam provident sunt impedit officiis quibusdam laudantium ea doloremque
        necessitatibus et!</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="card">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fisioterpia
        </mat-panel-title>
        <mat-panel-description>
          Aspectos básicos fisioterapia
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat libero earum ullam illum officiis, illo
        minima nisi quidem doloribus voluptatibus ad dolorem possimus et sit praesentium eum consequuntur similique
        architecto.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="card">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Odontología
        </mat-panel-title>
        <mat-panel-description>
          Aspectos básicos odontología
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat libero earum ullam illum officiis, illo
        minima nisi quidem doloribus voluptatibus ad dolorem possimus et sit praesentium eum consequuntur similique
        architecto.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="card">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Psicología
        </mat-panel-title>
        <mat-panel-description>
          Aspectos básicos psicología
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat libero earum ullam illum officiis, illo
        minima nisi quidem doloribus voluptatibus ad dolorem possimus et sit praesentium eum consequuntur similique
        architecto.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>