<table class="table table-borderless justify-content-center">
    <thead>
        <tr>
            <th>Amalgama</th>
            <th>Caries</th>
            <th>Endodoncia</th>
            <th>Ausente</th>
            <th>Resina</th>
            <th>Implante</th>
            <th>Sellante</th>
            <th>Corona</th>
        </tr>
    </thead>
    <tbody>
        <td>
            <div class="color justify-content-center" value="Amalgama"
                style="background-color:red;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="Caries" style="background-color:yellow;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="Endodoncia" style="background-color:orange;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="Ausente" style="background-color:tomato;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="Resina" style="background-color:#CC6600;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="Implante" style="background-color:#CC66CC;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="Sellante" style="text-align:center;background-color:green;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="Corona" style="background-color:blue;width:20px;height:20px"></div>
        </td>
    </tbody>
</table>
<table class="table table-borderless justify-content-center">
    <thead>
        <tr>
            <th>Normal</th>
            <th>Rotado</th>
            <th>Desgaste</th>
            <th>Corona Destruida</th>
            <th>Fracturado</th>
            <th>Erupcionado</th>
            <th>Obturado</th>
            <th>Obturado con Resina</th>
        </tr>
    </thead>
    <tbody>
        <td class="justify-content-center">
            <div class="color" value="Normal" style="text-align: center;background-color:Lavender;width:20px;height:20px;">
            </div>
        </td>
        <td>
            <div class="color" value="rotado" style="background-color:cyan;width:20px;height:20px"></div>
        </td>
        <td>
            <div class="color" value="desgaste" style="background-color:DarkKhaki;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="corona desturida" style="background-color:DarkMagenta;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="fracturado" style="background-color:GoldenRod;width:20px;height:20px"></div>
        </td>
        <td>
            <div class="color" value="erupcionado" style="background-color:black;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="opturado" style="background-color:Maroon;width:20px;height:20px">
            </div>
        </td>
        <td>
            <div class="color" value="opturado con resina" style="background-color:DarkCyan;width:20px;height:20px">
            </div>
        </td>
    </tbody>
</table>