<table class="table table-borderless">
    <thead>
        <tr>
            <th *ngFor="let titulo of convencionesArriba">{{titulo.nombre}}</th>
        </tr>
    </thead>
    <tbody>
        <td *ngFor="let colores of convencionesArriba">
            <button class="btn color" [ngStyle]="{'background-color': colores.color,'width':'20px','height':'20px'}">
            </button>
        </td>

    </tbody>
</table>
<table class="table table-borderless mt-2">
    <thead>
        <tr>
            <th *ngFor="let titulo of convencionesAbajo">{{titulo.nombre}}</th>
        </tr>
    </thead>
    <tbody>
        <td *ngFor="let colores of convencionesAbajo">
            <button class="btn color" [ngStyle]="{'background-color': colores.color,'width':'20px','height':'20px'}">
            </button>
        </td>
    </tbody>
</table>