<div class="home-div">
    <div class="card text-center">
        <div class="card-body">
            <div class="d-grid gap-2 justify-content-center">
                <h4 class="card-title"> Módulos SIBUD</h4>
                <button type="button" class="btn btn-primary mt-2 me-2 ms-2"(click)="navigateReliquidacion()">Reliquidación</button>
                <button type="button" class="btn btn-primary mt-2 me-2 ms-2"(click)="navigateApoyoAlimentario()">Apoyo Alimentario</button>
                <button type="button" class="btn btn-primary mt-2 me-2 ms-2"(click)="navigateSalud()">Salud</button>
            </div>
        </div>
    </div>
</div>